@charset "utf-8";

@media screen and (max-width: 835px) 
{
                 .container {
                                  position: relative;
                                  
                                  width: 768px;
                                  max-width: 68%;
                                  min-height: 473px;
                                  display: block;
                                  left: 30%;
                                  right: 30%;
                                 
                                  transform: translate(-55%, 30%);
                              }

                              button {    margin-top: 34px;
                                width: 71%;
                                margin-left: 14%;}

                              form 
                              {
                                height: 520px;
                                width: 273px;
                            }

                                .overlay {
                                    
                                   
                                    height: 100%;
                                    width: 200%;
                                }

                                button#signUp {
                                    width: 18vw;
                                    height: 4vh;
                                    margin-left:6%
                                }

                                button#signIn {
                                    width: 18vw;
                                    height: 4vh;
                                    margin-left:6%
                                }

                                img {width: 38vw;}
}

@media screen and (max-width: 628px) 
{
                                .container {
                                    width: 669px;
                                    max-width: 87%;
                                    min-height: 512px;
                                    left: 26%;
                                    right: 30%;
                                }

                              form 
                              {
                                height: 520px;
                                width: 273px;
                            }

                                .overlay {
                                    
                                   
                                    height: 100%;
                                    width: 200%;
                                }

                                input
                                 {
                                    display: block;
                                    height: 50px;
                                    width: 86%;
                                    background-color: rgba(255,255,255,0.07);
                                    border-radius: 5px;
                                    padding: 15px 10px;
                                    margin-top: 8px;
                                    font-size: 12px;
                                    font-weight: 200;
                                }

                                    label 
                                    {
                                        display: block;
                                        margin-top: 32px;
                                        font-size: 13px;
                                    }

                                        button#signUp 
                                        {
                                            width: 25vw;
                                            height: 4vh;
                                        }
        
                                        button#signIn 
                                        {
                                            margin-left: -9px;
                                            width: 25vw;
                                            height: 4vh;
                                        }

                                img {width: 48vw;}

}